<main>
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to Job Portal</h1>
            <p>Discover the latest Jobs and apply Now !</p>
            <a routerLink="/job-search" class="btn">Explore Offers</a>
        </div>
    </section>

    <section class="features">
        <div class="feature">
            <h2>Wide Offers</h2>
            <p>Choose Your Career</p>
        </div>
        <div class="feature">
            <h2>Easy Process</h2>
            <p>Apply for the jobs online with a few simple steps.</p>
        </div>
        <div class="feature">
            <h2>Best Package</h2>
            <p>Select Your Dream Job Soon</p>
        </div>
    </section>

    <section class="cta">
        <div class="cta-content">
            <h2>Apply Now and Grab Your Dream Offers ?</h2>
            <a routerLink="/job-search" class="btn">Browse Jobs</a>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2023 job Portal. All rights reserved.</p>
</footer>